/*Rectangle with a joke*/

.joke {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 20px;
    background: #F8F8F8;
    border-radius: 20px;
}

/*Joke*/

.joke__container {
    display: flex;
    margin-top: 10px;
    background: #F8F8F8;
    border-radius: 20px;
}

/*Comment icon*/

.joke__comment-circle {
    background: url("../../../images/message-icon.svg") no-repeat center center #fff;
    display: flex;
    justify-content: center;
    flex: 0 0 40px;
    overflow: hidden;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

/*Joke content*/

.joke__content {
    width: 100%;
}

/*Joke ID*/

.joke__id {
    color: #ABABAB;
    font-size: 10px;
    line-height: 14px;
}

/*Joke link*/

#joke__id-link {
    background: url('../../../images/link-icon.svg') no-repeat 100% 0;
    text-decoration: underline;
    padding-right: 15px;
    color: #8EA7FF;
}

/*Joke value*/

.joke__value {
    max-width: 540px;
    margin-top: 5px;
    margin-bottom: 7px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
}

/*Last update and Category*/

.joke__apps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

/*Joke category*/

.joke__apps-category {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 5px 20px;
    margin-right: -2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
}

.joke__apps-category:empty {
    display: none;
}

/*Joke mobile view*/

@media (max-width: 480px) {
    .joke__value {
        max-width: calc(100vw - 140px);
    }
    .joke__apps-category {
        margin-top: 5px;
    }
}

@media (max-width: 320px) {
    .joke__value {
        max-width: 180px;
        width: 100%;
    }
}