/*Rectangle with a joke*/

.fav-joke {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideLeft .3s ease;
}

@keyframes slideLeft {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Joke*/

.fav-joke__container {
    display: flex;
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
}

/*Comment icon*/

.fav-joke__comment-circle {
    background: url("../../images/message-icon.svg") no-repeat center center #F8F8F8;
    display: flex;
    justify-content: center;
    flex: 0 0 40px;
    overflow: hidden;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

/*Joke content*/

.fav-joke__content {
    width: 100%;
}

/*Joke ID*/

.fav-joke__id {
    color: #ABABAB;
    font-size: 10px;
    line-height: 14px;
}

/*Joke link*/

#fav-joke__id-link {
    background: url('../../images/link-icon.svg') no-repeat 100% 0;
    text-decoration: underline;
    padding-right: 15px;
    color: #8EA7FF;
}

/*Joke value*/

.fav-joke__value {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

/*Last update and Category*/

.fav-joke__apps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

/*Joke category*/

.fav-joke__apps-category {
    background: #F8F8F8;
    padding: 5px 20px;
    margin-right: -2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
}

.fav-joke__apps-category:empty {
    display: none;
}

/*FavJoke mobile view*/

@media (max-width: 480px) {
    .fav-joke {
        width: 100%;
    }
    .fav-joke__value {
        width: 100%;
    }
    .fav-joke__apps-category {
        margin-top: 5px;
    }
}

@media (max-width: 320px) {
    .fav-joke__value {
        max-width: 180px;
        width: 100%;
    }
}