/*Favourite icon button*/

.joke__like-btn {
    align-self: flex-end;
    background:  no-repeat url("../../../../images/heart-empty-icon.svg");
    transition: .3s;
    width: 20px;
    height: 17px;
    border: none;
    cursor: pointer;
}

.joke__like-btn:hover {
    background: no-repeat url("../../../../images/heart-full-icon.svg");
}