/* RadioButton Container */

.joke-options {
    display: flex;
    flex-direction: column;
}

/*Radio buttons takes from here https://codepen.io/hansmaad/pen/zBdzxp
 and here https://dev.to/lkopacz/create-custom-keyboard-accessible-radio-buttons-22eh
*/

.joke-options__form-input {
    display: none;
}

.joke-options__form-input:checked + label:before {
    border-color: #333333;
}

.joke-options__form-input:checked + label:after {
    transform: scale(1);
}

.joke-options__form-label {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
}

.joke-options__form-label:before, :after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
}

.joke-options__form-label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ABABAB;
}

.joke-options__form-label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #333333;
}

*, *:before, *:after {
    box-sizing: border-box;
}