/* Tag <form> with radio buttons */

.select_option {
    grid-area: sc;
}

/*Radio buttons*/ /*Probably must be replaced in style.css of every radio button */

.select_option > input {
    margin: 10px 0;
}

/*Radio button = Search*/

.search {
    display: grid;
    min-height: 5vh;
    padding: 5px 2px;
}

/*Search input*/

.search > input {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
    padding: 0 5px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
}