/*Button for tablet and mobile view, appeared in top-right corner on 960px screen width*/

.side-button {
    display: none;
}

.side-button__icon {
    cursor: pointer;
    margin-right: 10px;
    background: #333;
    border-radius: 50%;
    padding: 10px 7px;
    width: 28px;
    height: 28px;
    position: relative;
    box-sizing: border-box;
}

.side-button__icon-line{
    display: block;
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
}

.first-line{
    top: 10px;
}

.second-line{
    bottom: 10px;
}

.side-button_active .first-line{
    top: 13px;
    transition: 0.1s;
    transform: rotate(45deg);
}

.side-button_active .second-line{
    bottom: 13px;
    transition: 0.1s;
    transform: rotate(-45deg);
}

.side-button__title {
    display: none;
}

/*Mobile view*/

@media (max-width: 960px) {
    .side-button {
        display: flex;
        z-index: 4;
        top: 40px;
    }
    .side-button__title {
        display: inline;
        font-size: 20px;
        line-height: 28px;
        color: #ABABAB;
    }
}