@import "../../../../index.css";
/*Get a joke button*/

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: white;
    margin-top: 20px;
    padding: 9px 38px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background: linear-gradient(92.01deg, #7291FF 0%, #8EA7FF 100%);
}