/*Rectangle with a joke*/

.joke {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 100px;
    background: #F8F8F8;
    border-radius: 20px;
}

/*Joke ID*/

#id {
    align-self: flex-start;
    margin: 0;
    color: #ABABAB;
}

/*Joke link*/

#link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    background: url('images/external-link.png') no-repeat 100% 0;
    background-size: 14px 14px;
    padding-right: 19px;
    color: #8EA7FF;
}

/*Joke value*/

#joke_value {
    align-self: flex-start;
    text-align: left;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}
