/*rectangle with a joke*/

.rectangle {
    display: block;
    padding: 80px;
    margin: 20px 0;
    background: #F8F8F8;
    border-radius: 20px;
}

/*joke*/

.joke {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 20px 0;*/
    padding: 50px;
    background: #F8F8F8;
}

/*Joke ID*/

.id {
    align-self: flex-start;
    margin: 0;
    color: #ABABAB;
}

/*Joke link*/

#link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    background: url('images/external-link.png') no-repeat 100% 0;
    background-size: 14px 14px;
    padding-right: 19px;
    color: #8EA7FF;
}

/*Joke value*/

.joke_value {
    align-self: flex-start;
    text-align: left;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

/*Joke category*/

.joke_category {
    text-align: center;
    align-content: center;
    align-self: flex-end;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 5px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
}

/*Favourite icon*/

.favorite_joke {
    align-self: flex-end;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    background-color: #F8F8F8;
}

.favorite_icon {
    color: #FF6767;
}

/*Comment icon*/

.comment_circle {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    top: 120px;
    border-radius: 50%;
    background: white;
}

.comment_icon {
    display: inline;
    width: auto;
    height: 22px;
    margin-left: 25%;
    margin-top: 25%;
    color: #ABABAB;
}

/*Last update time*/

.last_update {
    align-self: flex-start;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    margin: 15px 0;
    font-size: 18px;
    line-height: 14px;
    color: #ABABAB;

}