/*Radio button = Search*/

.joke-options__search-form {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Search input*/

.joke-options__search-input {
    width: 100%;
    padding: 8px 13px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
}

.joke-options__search-input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
}

.joke-options__invalid-size{
    display: block;
    margin: 5px 0;
    font-size: 18px;
    color: #FF6767;
}

.joke-options__invalid-value{
    display: block;
    margin: 5px 0;
    font-size: 18px;
    color: #FF6767;
    visibility: visible;
}