@import "../../index.css";
@import "../Content/JokeLogic/JokeLogic.css";

/*SideBar*/

.sidebar {
    flex: 0 0 480px;
    padding: 40px;
    background: #F8F8F8;
}

.favourite_jokes{
    width: 100%;
}
/*SideBar Favourite heading*/

.fav_title {
    display: inline;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

@media (max-width: 960px) {
    .sidebar {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
    .fav_title {
        visibility: hidden;
    }
    .sidebar_active {
        display: block;
        width: 480px;
        min-height: 100vh;
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    }
}

@media (max-width: 430px) {
    .sidebar {
        padding: 20px;
    }
    .sidebar_active {
        max-width: 420px;
    }
}

@media (max-width: 380px) {
    .sidebar {
        padding: 20px;
    }
    .sidebar_active {
        max-width: 373px;
    }
}

@media (max-width: 320px) {
    .sidebar {
        padding: 20px;
    }
    .sidebar_active {
        max-width: 320px;
    }
}