/*SideBar*/

/*Need to fix*/

.sidebar {
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 480px;*/
    /*height: 100%;*/
    /*overflow-y: auto;*/
    flex: 0 0 480px;
    padding: 40px;
    background: #F8F8F8;
}

/*Need to fix*/

.sidebar_height {
    min-height: 100vh;
}

/*SideBar Favourite heading and jokes*/

.sidebar__title {
    display: inline;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

.sidebar__jokes{
    width: 100%;
}

/*SideBar mobile view*/

@media (max-width: 960px) {
    .sidebar {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
    .sidebar__title {
        visibility: hidden;
    }
    .sidebar_active {
        display: block;
        width: 480px;
        min-height: 100vh;
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    }
    .sidebar_height {
        min-height: 100vh;
    }

}

@media (max-width: 480px) {
    .sidebar {
        padding: 20px;
        width: 100%;
    }
}

