@import "../Content/JokeLogic/JokeLogic.css";

/*SideBar*/

.sidebar {
    grid-area: sidebar;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 40px;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 480px;
}

/*SideBar Favourite heading*/

.fav_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

@media (max-width: 960px) {
    .sidebar {
        display: none;
        background: #F8F8F8;
        top: 0;
        right: 0;
        position: absolute;
    }
    .fav_title {
        display: none;
    }
    .sidebar_active {
        width: 480px;
        height: 100%;
        background: #F8F8F8;
        padding: 40px;
        padding-top: 60px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: 200;
        overflow-y: scroll;
    }
}

@media (max-width: 430px) {
    .sidebar_active {
        max-width: 360px;
    }
}