/*Favourite icon*/

.fav-joke__unlike-btn {
    align-self: flex-end;
    background: no-repeat url("../../../images/heart-full-icon.svg");
    transition: .3s;
    width: 20px;
    height: 17px;
    border: none;
    cursor: pointer;
}