/*Main and SideBar*/

.main_content {
  font-family: Roboto, serif;
  display: grid;
  grid-template-areas:
          "main sidebar";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  background: #FFFFFF;
}