.main_content {
  font-family: Roboto, serif;
  display: grid;
  grid-template-areas:
          "c s";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  margin: 0;
  background: #FFFFFF;
}