.main_content {
  font-family: Roboto, serif;
  display: grid;
  grid-template-areas:
          "c s";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  margin: 0;
  background: #FFFFFF;
}

.content {
  grid-area: c;
  place-self: center center;
  display: grid;
  grid-template-areas:
          "sc"
          "fc";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 100vh;
}

.intro {
  margin: 20px 0;
}

.select_option {
  grid-area: sc;
}

.select_option > input {
  margin: 10px 0;
}

.select_option button {
  margin: 20px 0;
  padding: 15px 30px;
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  border-radius: 10px;
}

.joke_itself {
  grid-area: fc;
  margin: 20px 0;
  padding: 100px;
  background: #F8F8F8;
  border-radius: 20px;
}

.joke {
  position: relative;
  text-align: center;
}

.sidebar {
  grid-area: s;

  background: #F8F8F8;
}

